{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Client {% endblock %}

<br> PoserDemandeExport
<br>

<form action="#" id="contactForm" method="post" {{ form_enctype(form) }}>


  {{ form_widget(form) }}

    

    <!--bouton enregistrer-->
    <div class="buttons-set">
        <p class="required">* Obligatoire</p>
        <button type="submit" class="button"><span><span>Enregistrer</span></span></button>
    </div>

</form>
 
 