{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} A Propos {% endblock %}

{% block head %}
{% endblock head %}
{% block banner %}
            <div class="jumbotron">
                <div class="col-md-4 col-sm-11 col-xs-11"> 
                    <div class="row">
                        <h4 class="title-banner" style="margin-bottom: 0">A propos de nous</h4>
                    </div>
            </div>
        </div>
        {% endblock banner %}

{% block content %}

<br> A Propos <br>

{% endblock content %}
  