{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Inscription {% endblock %}

{% block head %}
{% endblock head %}
{% block banner %}
            <div class="jumbotron">
                <div class="col-md-4 col-sm-11 col-xs-11"> 
                    <div class="row">
                        <h4 class="title-banner">Inscription</h4>
                    </div>
            </div>
        </div>
        {% endblock banner %}

{% block content %}
<div class="col-md-6">
    <a href="{{path('client_registration')}}" class="btn btn-primary"> Inscription Client</a>

<a href="{{path('exportateur_registration')}}"  class="btn btn-primary"> Inscription exportateur</a>
</div>
{% endblock content %}
