{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Conditions {% endblock %}

{% block head %}
{% endblock head %}
{% block banner %}
            <div class="jumbotron">
                <div class="col-md-4 col-sm-11 col-xs-11"> 
                    <div class="row">
                        <h4 class="title-banner" style="margin-bottom: 0">Conditions</h4>
                    </div>
            </div>
        </div>
        {% endblock banner %}

{% block content %}

<div class="col-md-12" style="margin-bottom: 50px">
                    <div class="row">
                        <h3 class="text-center text-info">Découvrez un outil innovant pour l’univers de la logistique</h3>
                        <img src="{{ asset('bundles/nzotunisiefret/images') }}/line.png" class="col-md-offset-3"/>
                        <p class="text-center" style="font-size: 18px;line-height: 42px;">
                            TUNISIE FRET est une plateforme Tunisienne informatiser pour les agences d’import export d’une coté et 
                            pour leurs clients d’une autre, la plateforme offre un ensemble de services qui permettent aux 
                            clients de déposer des appelles d’offre pour les affréteurs afin d’avoir le meilleur pris et 
                            qualité possible,  et avoir un bon outil de communication entre eux, aussi le projet est 
                            bénéficiaire pour les affréteurs puisqu’il augmente leur base clientèle et leur chance 
                            d’accroché le maximum de contrats. </p>
                    </div>
    </div>

{% endblock content %}
  