{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Conditions {% endblock %}

{% block head %}
{% endblock head %}
{% block banner %}
            <div class="jumbotron">
                <div class="col-md-4 col-sm-11 col-xs-11"> 
                    <div class="row">
                        <h4 class="title-banner" style="margin-bottom: 0">Conditions</h4>
                    </div>
            </div>
        </div>
        {% endblock banner %}

{% block content %}

<div class="col-md-12" style="margin-bottom: 50px">
                    <div class="row">
                        <h3 class="text-center text-info">Conditions</h3>
                        
                        <p class="text-center" style="font-size: 18px;line-height: 42px;">
                          Conditions   </p>
                    </div>
    </div>

{% endblock content %}
  