{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Inscription {% endblock %}

{% block head %}
{% endblock head %}


{% block content %}
<div class="error-container center">
  <div class="info-text text-transparent">
    Page Indisponible
  </div>
  <hr class="main">
  <div class="error-text text-transparent">
    404!
  </div>
  <hr class="main">
  <div class="info-text text-transparent">
    Erreur: Cette Page Nexiste Pas
  </div>
</div>
{% endblock content %}
