<html>
    <body>
        <h2><strong>Tunisie Fret</strong></h2>

<strong>Notification</strong> : <strong>Date de l'envoi</strong> :  {{ "now" | date("d-m-Y  -  H:i") }}. <br>

<p>
{{ message }}
</p> 
    </body>
</html>


