<body bgcolor="#8d8e90" style="font-family: Century Gothic, sans-serif;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EDEBE6">
        <tr>
            <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#343838">
                                <tr>
                                    <td width="250"></td>
                                    <td width="100" align="center"><img src="http://img40.imageshack.us/img40/8979/xhls.png" style="padding: 12px;" border="0" alt=""/></td>
                                    <td width="250"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td><img src="http://img23.imageshack.us/img23/3644/5h83.png" alt="" width="701" height="107" border="0"/></td>
                    </tr>
                    <tr>
                        <td style="padding:10px 10px 40px 10px">
                            <p style="">
                                <strong>Notification</strong> : <strong>Date de l'envoi</strong> :  {{ "now" | date("d-m-Y  -  H:i") }}. </p>
                            <p>
                                {{ message }}
                            </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#343838">
                                    <tr>
                                        <td width="250">
                                            <p style="padding: 14px;text-align: center"><a href="" style="color: white;">tunisiefret.com</a></p>
                                        </td>
                                        <td width="100" align="center">
                                            <p><img src="http://img40.imageshack.us/img40/8979/xhls.png" style="padding: 12px;" ></p>

                                        </td>
                                        <td width="250">
                                            <p style="padding: 4px;text-align: center;color: white"><a href="" style="color: white;">tunisiefret@gmail.com</a> <br>(+216) 22 774 235</p> 

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>


