{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Confirmation {% endblock %}
{% block banner %}
    <div class="jumbotron">
        <div class="col-md-4 col-sm-11 col-xs-11"> 
            <div class="row">
                <h4 class="title-banner" style="">Mot de Passe Oublier</h4>
            </div>
        </div>
    </div>
{% endblock banner %}
{% block content %}
<div class="well col-md-5 col-md-offset-3 pading-login">

    <div class="alert alert-info text-center">
        {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    </div>
</div>
{% endblock content %}
    
                               