{% extends "NzoTunisiefretBundle::layoutAdmin.html.twig" %}

{% block title %} {{ parent() }} Admin {% endblock %}

{% block head %}
{% endblock head %}

{% block body %}

{% block content %}

<br> Liste Exportateurs <br> <br>

{% for exportateur in listeexportateurs %}
    email:  {{exportateur.email}} |
    nom : {{exportateur.nomentrop}} |
    activé
    <br>
    -----------------------------------------------------
    <br>
{% endfor %}
    
    <div class="navigation">
    {{ knp_pagination_render(listeexportateurs) }}
    </div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% endblock body %}  
 