#carousel .carousel-inner > .item > img{
    height: 553px;
    width: 100%;  
}

.container-bg{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.bg-menu{
    background-color: black;
    border-bottom: 2px solid rgba(160, 160, 160, 0.59);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 0;
}
.nav-style > li {
    border-left: 1px solid rgba(160, 160, 160, 0.59);
    padding: 0 12px 0 12px;
}
.style li {border: none}
.nav-style li:first-child {
    border-left: none;
}
.nav-style > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(187, 187, 187);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase
}
.nav-style > li > a:hover {color: white;}

.nav-style > li > .dropdown-menu {
    margin-top: 29px;
    background-color: rgba(85, 85, 85, 0.78);
    border: 1px solid rgba(150, 150, 150, 1);
}
.nav-style > li > .dropdown-menu li a {
    color: white
}
.black{   
    position: absolute;
    bottom: 250px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.72);
    padding: 10px;
}


.blue{
    position: absolute;
    bottom: 210px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(73, 135, 170, 0.63);
    padding: 10px;
}

.black:after {
    position: absolute;
    top: 0px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 47px solid rgba(0, 0, 0, 0.72);
    border-left: 0px solid transparent;
    content: '';
}
.blue:after {
    position: absolute;
    top: 0px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 40px solid rgba(73, 135, 170, 0.63);
    border-left: 0px solid transparent;
    content: '';
}

.title{
    color: #ffffff;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: #3079a2;
    padding: 10px;
    text-transform: uppercase
}
.title:after {
    position: absolute;
    top: 10px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 39px solid #3079a2;
    border-left: 0px solid transparent;
    content: '';
}
.footer-bg {
    min-height: 20px;
    padding: 19px;
    border-top: 4px solid rgba(160, 160, 160, 0.59);
    color: white;
    background-color: #141414;
}
.footer-menu li{
    border-left: 1px solid rgba(148, 148, 148, 0.79)

}
.footer-menu li:first-child{
    border: none
}
.footer-menu li a{
    color: rgba(148, 148, 148, 0.79)
}
.copyright{
    color: rgba(148, 148, 148, 0.79)
}
#btn_up {
    position: fixed;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
    display: none;
}
.bottom{
    margin-bottom: 20px;
}
.title-banner{
    margin-top: 56px;
    color: #ffffff;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color:rgba(163, 0, 6, 0.83);
    padding: 10px;
    text-transform: uppercase
}
.title-banner:after {
    position: absolute;
    top: 56px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 39px solid rgba(163, 0, 6, 0.83);
    border-left: 0px solid transparent;
    content: '';
}
.slider-shadow {
    background: url(../images/shadow.png) no-repeat center bottom;
    background-size: 100%;
    padding-bottom: 12px;
    overflow: hidden;
    margin-bottom: 10px;
}
.box{
    padding-top: 10px;
    position: relative;
    margin: -4px 0 39px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
}
.box:after {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    border-radius: 50%;
    z-index: -1;
    bottom: 0%;
    content: "";
    box-shadow: 0 7px 16px rgba(0,0,0,0.4);
}
.box .dropdown-menu {
    border-top: 3px solid #3299BB;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom:  1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    top: 118%;
}

.box .open > a, .box .open > a:hover, .box .open > a:focus {
    border-radius: 0;
    background: none;  
}
legend strong{color: #3079a2;}
.required{color: rgb(197, 2, 2);font-size: 18px;}
.error-alert ul{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #E4ACB4;
    color: #b94a48;
    background-color: #F8E5E5;
    list-style: none;
    text-align: center;
}
.error-input ul { padding-left: 0;}
.error-input ul li {
    color: #b94a48;
    list-style: none;
}
.legend{
    color: #3079a2; 
    padding-bottom: 2px;
    border-bottom: 1px dashed #74A5C5;
}
.legend2 {
    margin-bottom: 30px;
    color: #3079a2;
    padding-bottom: 14px;
    border-bottom: 1px dashed #74A5C5;
}
/*.col-md-6 > p {
    font-size: 16px;
}
.col-md-6 > p strong{
    color: rgb(86, 164, 216);
}*/
/*.media{
    border: 1px solid rgb(226, 226, 226);
border-radius: 4px;
padding: 12px;
}*/
.breadcrumb a { color: #CC333F}
.breadcrumb a:hover { color: #EB6841}
.padding{
    padding: 40px;
}
.red{color: #BE0707}
#nzolengthmsg {cursor: pointer}
#scrollbox {position: absolute;width: 91%;}
#breadcrumbs-two{
    overflow: hidden;
    width: 100%;
    margin-left: -48px;
}

#breadcrumbs-two li{
    float: left;
    margin: 0 0 0 19px;
}

#breadcrumbs-two a, #breadcrumbs-two span{
    background: #F7F7F7;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    color: #398ED1;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    position: relative;
    -webkit-transition:color 250ms ease-out; 
    -moz-transition:color 250ms ease-out; 
    -o-transition:color 250ms ease-out; 
    transition:color 250ms ease-out;
}

#breadcrumbs-two a:hover, #breadcrumbs-two span:hover{color: #BB012E}

#breadcrumbs-two a::before , #breadcrumbs-two span::before{
    content: "";
    position: absolute;
    top: 50%; 
    margin-top: -1.5em;   
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #F7F7F7 #F7F7F7 #F7F7F7 transparent;
    left: -1em;
}

/*#breadcrumbs-two a:hover::before{
  border-color: #C9E3F8 #C9E3F8 #C9E3F8 transparent;
}*/

#breadcrumbs-two a::after, #breadcrumbs-two span::after{
    content: "";
    position: absolute;
    top: 50%; 
    margin-top: -1.5em;   
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #F7F7F7;
    right: -1em;
}

/*#breadcrumbs-two a:hover::after{
  border-left-color: #C9E3F8;
}*/

#breadcrumbs-two .current span,
#breadcrumbs-two .current span:hover{
    color: #BB012E;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before{
    content: normal;
}
.label-style{
    position: absolute;
    top: -8px;
    left: 23px;
    padding: 2px 2px;
    font-size: 10px;
}

.notification {
    min-width: 250px;
}
.notification > li > a{
    white-space: normal;
}
.notification > li {
    border-bottom: 1px solid rgb(209, 209, 209);
}
.nonlu {background-color: rgba(163, 82, 82, 0.62);}
.all{background-color: rgba(12, 22, 43, 0.68);}

.alert-notif{
    color: #88270F;
background-color: #FFFEFC;
border-color: #D8BFAF;
padding-left: 25px;
padding-right: 25px;
}
.pading-login {
    padding: 0px 20px 0px 20px;
    margin-top: 30px;
}