#carousel .carousel-inner > .item > img{
    height: 553px;
    width: 100%;  
}

.container-bg{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.bg-menu{
    background-color: black;
    border-bottom: 2px solid rgba(160, 160, 160, 0.59);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 0;
}
.nav-style li {
    border-left: 1px solid rgba(160, 160, 160, 0.59);
    /*margin-top: 22px;*/
}
.style li {border: none}
.nav-style li:first-child {
    border-left: none;
}
.nav-style > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(187, 187, 187);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase
}
.nav-style > li > a:hover {
    color: white;

}
.black{   
    position: absolute;
    bottom: 250px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.72);
    padding: 10px;
}


.blue{
    position: absolute;
    bottom: 210px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(73, 135, 170, 0.63);
    padding: 10px;
}

.black:after {
    position: absolute;
    top: 0px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 47px solid rgba(0, 0, 0, 0.72);
    border-left: 0px solid transparent;
    content: '';
}
.blue:after {
    position: absolute;
    top: 0px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 40px solid rgba(73, 135, 170, 0.63);
    border-left: 0px solid transparent;
    content: '';
}

.title{
    color: #ffffff;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: #3079a2;
    padding: 10px;
    text-transform: uppercase
}
.title:after {
    position: absolute;
    top: 10px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 39px solid #3079a2;
    border-left: 0px solid transparent;
    content: '';
}
.footer-bg {
    min-height: 20px;
    padding: 19px;
    border-top: 4px solid rgba(160, 160, 160, 0.59);
    color: white;
    background-color: #141414;
}
.footer-menu li{
    border-left: 1px solid rgba(148, 148, 148, 0.79)

}
.footer-menu li:first-child{
    border: none
}
.footer-menu li a{
    color: rgba(148, 148, 148, 0.79)
}
.copyright{
    color: rgba(148, 148, 148, 0.79)
}
#btn_up {
    position: fixed;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
    display: none;
}
.bottom{
    margin-bottom: 20px;
}
.title-banner{
    margin-top: 6px;
    color: #ffffff;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color:rgba(163, 0, 6, 0.83);
    padding: 10px;
    text-transform: uppercase
}
.title-banner:after {
    position: absolute;
    top: 6px;
    left: 100%;
    display: inline-block;
    border-right: 31px solid transparent;
    border-top: 39px solid rgba(163, 0, 6, 0.83);
    border-left: 0px solid transparent;
    content: '';
}
.slider-shadow {
    background: url(../images/shadow.png) no-repeat center bottom;
    background-size: 100%;
    padding-bottom: 12px;
    overflow: hidden;
    margin-bottom: 10px;
}
.box{
    padding-top: 10px;
    position: relative;
    margin: -4px 0 39px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
}
.box:after {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    border-radius: 50%;
    z-index: -1;
    bottom: 0%;
    content: "";
    box-shadow: 0 7px 16px rgba(0,0,0,0.4);
}
.box .dropdown-menu {
    border-top: 3px solid #3299BB;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom:  1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    top: 118%;
}

.box .open > a, .box .open > a:hover, .box .open > a:focus {
    border-radius: 0;
    background: none;  
}
legend strong{color: #3079a2;}
.required{color: rgb(197, 2, 2);font-size: 18px;}
.error-alert ul{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #E4ACB4;
    color: #b94a48;
    background-color: #F8E5E5;
    list-style: none;
    text-align: center;
}
.error-input ul { padding-left: 0;}
.error-input ul li {
    color: #b94a48;
    list-style: none;
}
.legend{
    color: #3079a2; 
    padding-bottom: 2px;
    border-bottom: 1px dashed #74A5C5;
}
.legend2 {
margin-bottom: 30px;
color: #3079a2;
padding-bottom: 14px;
border-bottom: 1px dashed #74A5C5;
}
/*.col-md-6 > p {
    font-size: 16px;
}
.col-md-6 > p strong{
    color: rgb(86, 164, 216);
}*/
/*.media{
    border: 1px solid rgb(226, 226, 226);
border-radius: 4px;
padding: 12px;
}*/
.breadcrumb a { color: #CC333F}
.breadcrumb a:hover { color: #EB6841}
.padding{
    padding: 40px;
}
.red{color: #BE0707}
#nzolengthmsg {cursor: pointer}
#college-info {position: absolute;width: 91%;}